<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/styles.css">
</head>
<body>

<header>
<h1>NOVIUM</h1>
<a href="/profile" class="avatar">
<%= user.pseudo.charAt(0).toUpperCase() %>
</a>
</header>

<main>
<h2>Interface principale</h2>
<p>Bienvenue <%= user.pseudo %></p>
</main>

</body>
</html>
