<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/styles.css">
</head>
<body>

<header>
<a href="/profile">← Retour Profil</a>
<h1>Paramètres</h1>
</header>

<form action="/updateProfile" method="POST">
<input type="text" name="pseudo" placeholder="Nouveau pseudo">
<input type="email" name="email" placeholder="Nouvel email">
<button class="btn">Enregistrer</button>
</form>

</body>
</html>
